$bgMenu:'';

aside {
  h3 {
    text-transform: uppercase;
    font-size: 0.8rem;
    margin: 0.75rem 0;
    font-weight: bold;
    color: #033C73;
    white-space: nowrap;
    position: relative;
  }

  ul {
    li {
      a {
        text-decoration: none;
      }
    }
  }
}