.bannerContent {
  line-height: 1.5;
  color: #495057;

  text-align: left;
  background: rgba(255, 255, 255, 0.55);
  display: flex;
  padding: 0 20px;
  margin: 30px 0;

  .iconWrp {
    width: 75px;
    height: 75px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 30px;
    box-shadow: 0 0.46875rem 2.1875rem rgba(0, 0, 0, 0.03), 0 0.9375rem 1.40625rem rgba(0, 0, 0, 0.03), 0 0.25rem 0.53125rem rgba(0, 0, 0, 0.05), 0 0.125rem 0.1875rem rgba(0, 0, 0, 0.03);
    border-radius: 0.25rem;

    svg {}
  }

  .txtWrp {
    h4 {
      font-size: 1.25rem;
      font-weight: 400;
      line-height: 1.5;
      color: #495057;
      text-align: left;
    }

    p {
      padding: 3px 0 0;
      font-size: 0.88rem;
      opacity: .6;
      line-height: 1.5;
      color: #495057;
      text-align: left;
    }
  }
}