.wrpTabRight {
  .wrpBox {
    .blue {
      background-image: -webkit-radial-gradient(center,
          circle 248px,
          #16d9e3 0%,
          #30c7ec 47%,
          #46aef7 100%) !important;
      background-image: -o-radial-gradient(center,
          circle 248px,
          #16d9e3 0%,
          #30c7ec 47%,
          #46aef7 100%) !important;
      background-image: radial-gradient(circle 248px at center,
          #16d9e3 0%,
          #30c7ec 47%,
          #46aef7 100%) !important;
    }

    .red {
      background-image: -webkit-gradient(linear,
          left bottom,
          left top,
          from(#ff0844),
          to(#ffb199)) !important;
      background-image: -webkit-linear-gradient(bottom,
          #ff0844 0%,
          #ffb199 100%) !important;
      background-image: -o-linear-gradient(bottom,
          #ff0844 0%,
          #ffb199 100%) !important;
      background-image: linear-gradient(to top,
          #ff0844 0%,
          #ffb199 100%) !important;
    }

    .midnightBlue {
      background-image: -webkit-linear-gradient(110deg,
          #2b5876 0%,
          #4e4376 100%) !important;
      background-image: -o-linear-gradient(110deg,
          #2b5876 0%,
          #4e4376 100%) !important;
      background-image: linear-gradient(-20deg,
          #2b5876 0%,
          #4e4376 100%) !important;
    }

    .green {
      background-image: -webkit-gradient(linear,
          left bottom,
          left top,
          from(#0ba360),
          to(#3cba92)) !important;
      background-image: -webkit-linear-gradient(bottom,
          #0ba360 0%,
          #3cba92 100%) !important;
      background-image: -o-linear-gradient(bottom,
          #0ba360 0%,
          #3cba92 100%) !important;
      background-image: linear-gradient(to top,
          #0ba360 0%,
          #3cba92 100%) !important;
    }

    .box {
      height: 135px;
      padding: 15px;
      margin: 0 15px 30px 15px;
      display: flex;
      justify-content: center;
      align-items: center;

      &:nth-child(2n) {
        margin: 0;
      }

      svg {
        color: #fff;
      }

      strong {
        font-weight: bold;
        font-size: 2.5rem;
        display: block;
        line-height: 1;
        margin: 1rem auto;
        color: #fff;
      }
    }
  }
}