.carouselHolder{
    padding: 0 15px;
    width: 100%;
    display: block;
    margin-top: 30px;
    margin-bottom: 30px;
    .bgColor{
        position: relative;
        min-width: 0;
        word-wrap: break-word;
        padding: 0 15px;
        .txtWrp{
            background-color: #fff;
            background-clip: border-box;
            order: 1px solid rgba(0, 0, 0, 0.125);
            border-radius: 0.25rem;
            padding: 10px 15px;
            box-shadow: 0 0.46875rem 2.1875rem rgba(0, 0, 0, 0.03), 0 0.9375rem 1.40625rem rgba(0, 0, 0, 0.03), 0 0.25rem 0.53125rem rgba(0, 0, 0, 0.05), 0 0.125rem 0.1875rem rgba(0, 0, 0, 0.03);

            div{
                color: purple ;
                font-size: 1.6rem;
            }
            
        }
    }
}
